<h1>Editing adminnistrador</h1>

<% form_for(@adminnistrador) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @adminnistrador %> |
<%= link_to 'Back', adminnistradors_path %>