<h1>Listing adminnistradors</h1>

<table>
  <tr>
  </tr>

<% @adminnistradors.each do |adminnistrador| %>
  <tr>
    <td><%= link_to 'Show', adminnistrador %></td>
    <td><%= link_to 'Edit', edit_adminnistrador_path(adminnistrador) %></td>
    <td><%= link_to 'Destroy', adminnistrador, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New adminnistrador', new_adminnistrador_path %>